.landing {
    margin-top: -100px;
    background: linear-gradient(
            to bottom,
            rgba(218, 183, 58, 0.6),
            rgba(218, 183, 58, 0.2)
    ),
    url(/assets/background-desktop.jpeg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
