.landing {
  margin-top: -200px;
  height: 900px;
  width: 100%;
  background: linear-gradient(
      100deg,
      rgba(248, 200, 220, 0.8),
      rgba(248, 200, 220, 0.4)
    ),
    url(/assets/main.jpg);
  background-size: cover;
  background-position: center;
}
